body {
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.App {
  margin: auto;
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* add code below to also center horizontally */
  align-items: center;
}
